<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    









    <script>
        var currentIndex = 0; 

        setInterval(function){
            if(currentIndex < 2){
                currentIndex++;
            } else {
                currentIndex = 0;
            }


            var slidePosition = currentIndex * (-1000)+"px";
            $(".slideList").animate
        }

    </script>
</body>
</html>