<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jane Doe">
    <meta name="description" content="웹 퍼블리셔 수업 중">
    <meta name="keywords"
        content="신원미상, 웹 퍼블리셔, 웹 표준, 웹 접근성, 화려한 디자인, JaneDoe, publisher, css3, html, markup, design">
    <title>Layout</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/docs.min.css" rel="stylesheet">
    <link href="../assets/css/prism.css" rel="stylesheet">

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="../assets/face/layout.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/face/layout.png">
    <link rel="icon" href="../assets/face/layout.png" sizes="128x128">

    <!-- Facebook meta tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="#" />
    <meta property="og:url" content="#" />
    <meta property="og:image" content="#" />
    <meta property="og:site_name" content="#" />
    <meta property="og:description" content="#" />
    <!-- twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="#" />
    <meta name="twitter:title" content="#" />
    <meta name="twitter:description" content="#" />
    <meta property="twitter:image" content="#" />
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.../assets2/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="navbar navbar-inverse navbar-static-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../index.html" class="navbar-brand">coding class</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="http://randomplace.tistory.com">Tistory</a></li>
                    <li><a href="https://codepen.io/Jane_Doe_0202">Codepen</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="bs-header bgs1" id="content">
        <div class="container">
            <h1>Layout</h1>
            <p><a href="https://yeonyeon22.github.io/webs_class/" target="_blank">yeonyeon22.github.io/webs_class</a></p>
        </div>
    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-12">
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="800"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FakkllFxMnHAbJZbLGePj8Q%2Flayout%3Fnode-id%3D0%253A1"
                    allowfullscreen></iframe>

                <!-- layout01 -->
                <div class="bs-docs-section">
                    <h2 id="layout01" class="page-header">layout 01</h2>
                    <p>C O D E_ <a href="layout01.html"> V I E W</a></p>
                </div>
                <!-- //layout01 -->

                <!-- layout02 -->
                <div class="bs-docs-section">
                    <h2 id="layout02" class="page-header">layout 02</h2>
                    <p>C O D E_ <a href="layout02.html"> V I E W</a></p>
                </div>
                <!-- //layout02 -->

                <!-- layout03 -->
                <div class="bs-docs-section">
                    <h2 id="layout03" class="page-header">layout 03</h2>
                    <p>C O D E_ <a href="layout03.html"> V I E W</a></p>
                </div>
                <!-- //layout03 -->
                
                <!-- layout04 -->
                <div class="bs-docs-section">
                    <h2 id="layout04" class="page-header">layout 04</h2>
                    <p>C O D E_ <a href="layout04.html"> V I E W</a></p>
                </div>
                <!-- //layout04 -->

                <!-- layout05 -->
                <div class="bs-docs-section">
                    <h2 id="layout05" class="page-header">layout 05</h2>
                    <p>C O D E_ <a href="layout05_6.html">  V I E W</a></p>
                </div>
                <!-- //layout05 -->

                <!-- layout_0128 -->
                <div class="bs-docs-section">
                    <h2 id="layout06" class="page-header">layout_call me by your name</h2>
                    <p>C O D E_ <a href="0128.html"> V I E W</a></p>
                </div>
                <!-- //layout_0128 -->
                
                <!-- layout06 -->
                <div class="bs-docs-section">
                    <h2 id="layout06_float" class="page-header">Layout 06_float</h2>
                    <p>C O D E_ <a href="layout06_float.html">  V I E W</a></p>
                </div>
                <div class="bs-docs-section">
                    <h2 id="layout06_flex" class="page-header">Layout 06_flex</h2>
                    <p>C O D E_ <a href="layout06_flex.html">  V I E W</a></p>
                </div>
                <div class="bs-docs-section">
                    <h2 id="layout06_grid" class="page-header">Layout 06_grid</h2>
                    <p>C O D E_ <a href="layout06_grid.html">  V I E W</a></p>
                </div>
                <!-- //layout06 -->

                <!-- layout07 -->
                <div class="bs-docs-section">
                    <h2 id="layout07_float" class="page-header">Layout 07_float</h2>
                    <p>C O D E_ <a href="layout07_float.html"> V I E W</a></p>
                </div>
                <div class="bs-docs-section">
                    <h2 id="layout07_flex" class="page-header">Layout 07_flex</h2>
                    <p>C O D E_ <a href="layout07_flex.html"> V I E W</a></p>
                </div>
                <div class="bs-docs-section">
                    <h2 id="layout07_grid" class="page-header">Layout 07_grid</h2>
                    <p>C O D E_ <a href="layout07_grid.html"> V I E W</a></p>
                </div>
                <!-- //layout07 -->

                <!-- layout08 -->
                <div class="bs-docs-section">
                    <h2 id="layout08_float" class="page-header">Layout 08_float</h2>
                    <p>C O D E_ <a href="layout08_float.html"> V I E W</a></p>
                </div>
                <div class="bs-docs-section">
                    <h2 id="layout08_flex" class="page-header">Layout 08_flex</h2>
                    <p>C O D E_ <a href="layout08_flex.html"> V I E W</a></p>
                </div>
                <div class="bs-docs-section">
                    <h2 id="layout08_grid" class="page-header">Layout 08_grid</h2>
                    <p>C O D E_ <a href="layout08_grid.html"> V I E W</a></p>
                </div>
                <!-- //layout08 -->

            </div>
        </div>
        <!-- //row -->
    </div>
    <!-- //container -->

    <!-- Footer -->
    <footer class="bs-footer" role="contentinfo">
        <div class="container">
            <ul class="footer-links muted">
                <!-- <li>&middot;</li> -->
                <li><a href="https://yeonyeon22.github.io/webs_class/">Jane Doe</a></li>
                <li>&middot;</li>
                <li><a href="http://cafe.naver.com/crossbrowsing" target="_blank">publisher cafe</a></li>
                <li>&middot;</li>
                <li><a href="http://cafe.daum.net/flairdesignlink" target="_blank">designer cafe</a></li>
            </ul>
        </div>
    </footer>
    <!-- //Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="../assets/js/jquery-1.9.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/docs.min.js"></script>
    <script src="../assets/js/prism.js"></script>
</body>

</html>
