<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="bori">
    <meta name="description" content="웹 표준을 준수한 사이트 예제">
    <meta name="keywords" content="보리, 웹 표준, 웹 접근성, 사이트 만들기">
    <title>WEBSTANDARD SITE</title>

    <!-- css style -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="container"></div>
        </div>
        <div id="contents">ㅇ</div>
        <div id="footer">ㅇ</div>
    </div>
</body>
</html>