<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment_0224</title>
    <style>

    </style>
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <div id="header">
            <div class="container">
                <div id="logo">
                    <h1>IMFORM</h1>
                </div>
                <div id="menu">
                    <ul>
                        <li>SERVICE</li>
                        <li>WORK</li>
                        <li>ABOUT</li>
                        <li>CONTACT</li>
                    </ul>
                </div>
                <div id="icon">
                    <img src="img/icon1.png" alt="icon">
                </div>
            </div>
        </div>
        <!-- //header -->

        <!-- banner -->
        <div id="banner">
            <div class="container">
                <h2>We research new opportunities<br>
                    that inspire success.</h2>
            </div>
        </div>
        <!-- //banner -->

        <!-- contents -->
        <div id="contents">
            <div class="container">
                <div id="cont1">
                    <h3>스마트한 카라이프<br>
                        한국타이어</h3>
                    <img src="img/img1.png" alt="img1">
                </div>
                <div id="cont2">
                    <h3>한섬 프리미엄 스타일<br>
                        모바일 룩북</h3>
                    <img src="img/img2.png" alt="img2">
                </div>
                <div id="cont3">
                    <h3>나는 대만족 입니다<br>
                        대만관광청 홈페이지 리뉴얼</h3>
                    <img src="img/img3.png" alt="img3">
                </div>
                <div id="cont4">
                    <h3>세련된 감각의 까사미아<br>
                        라이프스타일 매거진</h3>
                    <img src="img/img4.png" alt="img4">
                </div>
            </div>
        </div>
        <!-- //contents -->

        <!-- footer -->
        <div id="footer"></div>
        <!-- //footer -->
    </div>


</body>

</html>