<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout08_flex</title>
    <style>
        * {
            margin: 0;
        }
        #wrap {}
        header {}
        nav {}
        main {}
        aside {}
        section1 {}
        section2 {}
        section3 {}
        footer {}        
    </style>
</head>
<body>
    <div id="wrap">
        <header></header>
        <nav></nav>
        <main>
            <aside></aside>
            <section1></section1>
            <section2></section2>
            <section3></section3>
        </main>
        <footer></footer>
    </div>
</body>
</html>