<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout07_flex</title>
    <style>
        * {
            margin: 0;
        }
        #wrap {}
        header {}
        nav {}
        aside {}
        section {}
        article {}
        footer {}
    </style>
</head>
<body>
    <div id="wrap">
        <header></header>
        <nav></nav>
        <main>
            <aside></aside>
            <section></section>
            <article></article>
        </main>
        <footer></footer>
    </div>
    
</body>
</html>